@if (!_isLoading)
{
    <p>You are a member of @userInfo.PodJoinedName. See any tools you want to borrow?
        Please reach out to the tool owner via email to get started.</p>
    <div>
        <a @onclick="ShowAllTools">All Tools</a>
        <a @onclick="ShowAvailableTools">Available Tools</a>
        <a @onclick="ShowCurrentTools">Your Tools</a>
    </div>

    <div>
        <p>Search by Name</p>
        <input type="search" @bind="nameFilter"/>
        <button @onclick="FilterTools">Search</button>
    </div>

    <QuickGrid class="table" Items="filteredTools" Pagination="pagination">
        <TemplateColumn Context="tool" Title="Photo">
            <img src="@tool.ToolPhotoUrl" alt ="picture of the tool" width="50px"/>
        </TemplateColumn>
        <TemplateColumn Context="tool" Title="Name" >
            <a class="nav-link" href="tool-detail/@tool.ToolId">@tool.Name</a>
        </TemplateColumn>
        <PropertyColumn Property="tool => tool.ToolOwnerName" Title="Tool Owner"/>
        <PropertyColumn Property="tool => tool.BorrowingPeriodInDays" Title="Loan Period"/>
        <PropertyColumn Property="tool => tool.ToolStatus" Title="Availability"/>
        <TemplateColumn Context="tool" Title="">
            <button @onclick="async () => await HandleRequestClick(tool.ToolId)">Request?</button>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="pagination"/>
    
    @if (Message != String.Empty)
    {
        <p>@Message</p>
    }
}
