@page "/current-user/delete"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Http
@using ToolShare.UI.Identity
@using ToolShare.UI.Services
@inject IUsersDataService UsersDataService
@inject NavigationManager NavigationManager

<h3 xmlns="http://www.w3.org/1999/html">Delete User</h3>

<p class="text-danger">Are you sure you would like to delete your account?</p>

<button type="button" class="btn btn-danger" @onclick="HandleDelete">Delete User</button>

<p>@message</p>

@code {
    string message { get; set; } = String.Empty;
    
    private async Task HandleDelete()
    {
        message = await UsersDataService.DeleteCurrentUser();

        if (message == "success")
        {
            NavigationManager.NavigateTo("login", forceLoad: true);
        }
            
    }
}