@page "/"
@using ToolShare.UI.Identity
@using ToolShare.UI.Components

@inject IAccountManagement Acct

<PageTitle>Tool Share - Home</PageTitle>

<AuthorizeView Roles="NoPodUser">
    <h1>Welcome to Tool Share, @context.User.Identity?.Name!</h1>
    <HomeNoPodUser/>
</AuthorizeView>

<AuthorizeView Roles="User">
    <h1>Welcome to Tool Share, @context.User.Identity?.Name!</h1>
    <HomeUser/>

</AuthorizeView>