@page "/manage-tools"
@using ToolShare.Data.Models
@using ToolShare.UI.Components

@if (!_isLoading)
{
    <h3>Manage Tools: @userInfo.UserName</h3>
    <ToolsYouOwnGrid/>
    <h4> Tools You've Borrowed </h4>


}
